@import url("normalize.css");
@import url("https://fonts.googleapis.com/css2?family=Karla:wght@400;700;800&display=swap");

/* BASE */

:root {
  --background: #30303e;

  --body-text: #f9f8ff;
  --highlight-text: #7888f3;
  --subtle-text: #444564;

  --spacer: 1rem;
}

body {
  color: var(--body-text);
  background: var(--background);
  font: 18px "Karla", sans-serif;
  line-height: 1.4;
}

a {
  color: var(--highlight-text);
  border-bottom: 1px dotted;
  text-decoration: none;
}

a:hover {
  color: var(--subtle-text);
}

b,
strong {
  color: var(--highlight-text);
  font-weight: 700;
}

/* LAYOUT */

.container {
  margin: 1rem;
}

main {
  margin: 2rem 0;
}

@media (min-width: 500px) {
  .block--float {
    float: left;
  }
}

@media (min-width: 700px) {
  .container {
    margin: 1rem auto;
    width: 80%;
  }
}

@media (min-width: 900px) {
  .container {
    margin: 2rem auto 1rem;
    width: 50%;
  }
}

/* MODULES */

/** HEADER **/

.header {
  color: var(--highlight-text);
  line-height: 0.75;
  margin-bottom: var(--spacer);
  overflow-wrap: break-word;
}

.header__url {
  font-size: 5rem;
  font-weight: 800;
  margin: 0;
  padding: 0.2rem 0 0.9rem;
}

.header__est {
  color: var(--subtle-text);
  font-size: 3rem;
  font-weight: 800;
}

.navigation {
  font-size: 1.4rem;
  font-weight: 400;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navigation__item {
  display: inline-block;
  margin-right: 0.5rem;
}

/** MAIN **/

.block__header {
  color: var(--highlight-text);
  font-size: 2rem;
  font-weight: 800;
  margin: 0 0 0.85rem;
}

.block__updates {
  list-style-type: "\2192 \00a0";
  list-style-position: inside;
  padding-inline-start: 0;
}

.profile {
  display: flex;
  flex-direction: column;

  background-color: var(--subtle-text);
  border-radius: 15px;
  padding: var(--spacer);
}

.profile__picture {
  border-radius: 15px;
  width: 100%;
}

.profile__row {
  display: flex;
  align-items: center;
  justify-content: space-between;

  text-align: right;
}

.profile__stat-name {
  color: var(--highlight-text);
  font-weight: 700;
}

.gallery {
  text-align: center;
}

.gallery__header {
  color: var(--subtle-text);
  font-size: 1.7rem;
  font-weight: 800;
  margin: 0 auto 0.5rem;
}

.gallery__picture {
  border-radius: 15px;
  margin-bottom: 0.5rem;
  width:100%;
  max-width: 600px;
}

@media (min-width: 500px) {
  .profile {
    margin-right: var(--spacer);
    margin-bottom: var(--spacer);
    max-width: 200px;
  }
}

@media (min-width: 700px) {
  .profile {
    max-width: 250px;
  }
}

/** FOOTER **/

.footer {
  clear: both;
  font-size: 0.75rem;
  letter-spacing: 0.05rem;
  margin-bottom: 1rem;
  text-align: center;
}
