@import url("normalize.css");
@import url("https://fonts.googleapis.com/css2?family=Karla:wght@400;700;800&display=swap");

:root {
  --background: #30303e;

  --body-text: #f9f8ff;
  --highlight-text: #7888f3;
  --subtle-text: #444564;

  --spacer: 1rem;
}

body {
  background: var(--background);
  display: flex;
  flex-direction: column;
  font: 18px "Karla", sans-serif;
  min-height: 100vh;
}

a {
  color: var(--highlight-text);
  border-bottom: 1px dotted;
  text-decoration: none;
}

a:hover {
  color: var(--subtle-text);
}

b,
strong {
  color: var(--highlight-text);
  font-weight: 700;
}

main {
  flex: 1;
}

footer {
  color: var(--body-text);
  font-size: 0.75rem;
  letter-spacing: 0.05rem;
  margin-bottom: 1rem;
  text-align: center;
}

.title {
  color: var(--highlight-text);
  line-height: 0.75;
  margin: var(--spacer) var(--spacer) 2rem;
  overflow-wrap: break-word;
}

.title__url {
  font-size: 5rem;
  font-weight: 800;
  margin: 0;
  padding: 0.2rem 0 0.9rem;
}

.title__est {
  color: var(--subtle-text);
  font-size: 3rem;
  font-weight: 800;
}

.content {
  color: var(--body-text);
  padding: var(--spacer);
}

.content__header {
  color: var(--highlight-text);
  font-size: 2rem;
  font-weight: 800;
  margin: 0 0 0.85rem;
}

.updates {
  list-style-type: "\2192 \00a0";
  list-style-position: inside;
  padding-inline-start: 0;
}

@media (min-width: 700px) {
  main {
    display: flex;
    justify-content: center;
  }

  .container {
    width: 80%;
  }
}

@media (min-width: 900px) {
  main {
    align-items: center;
    margin: 0;
  }

  .container {
    width: 50%;
  }

  .title {
    margin-top: 0;
  }

  .content {
    display: flex;
    flex-wrap: wrap;
  }

  .content__section {
    flex: 1;
  }

  .content__section:first-child {
    margin-right: var(--spacer);
  }

  .content__section--full-width {
    flex-basis: 100%;
  }
}
