@import url("normalize.css");
@import url("https://fonts.googleapis.com/css2?family=Karla:wght@400;700;800&display=swap");

:root {
  --background: #30303e;

  --body-text: #f9f8ff;
  --highlight-text: #7888f3;
  --subtle-text: #444564;

  --spacer: 1rem;
}

body {
  background: var(--background);
  display: flex;
  flex-direction: column;
  font: 18px "Karla", sans-serif;
  line-height: 1.4;
}

a {
  color: var(--highlight-text);
  border-bottom: 1px dotted;
  text-decoration: none;
}

a:hover {
  color: var(--subtle-text);
}

b,
strong,
dt {
  color: var(--highlight-text);
  font-weight: 700;
}

main {
  flex: 1;
}

footer {
  color: var(--body-text);
  font-size: 0.75rem;
  letter-spacing: 0.05rem;
  margin-bottom: 1rem;
  text-align: center;
  clear: both;
}

.title {
  color: var(--highlight-text);
  line-height: 0.75;
  margin: var(--spacer) var(--spacer);
  overflow-wrap: break-word;
}

.title__url {
  font-size: 5rem;
  font-weight: 800;
  margin: 0;
  padding: 0.2rem 0 0.9rem;
}

.title__est {
  color: var(--subtle-text);
  font-size: 3rem;
  font-weight: 800;
}

.navigation {
  list-style-type: none;
  margin: 0;
  padding: var(--spacer);
  font-size: 1.4rem;
  font-weight: 400;
}

.navigation__item {
  display: inline-block;
  margin-right: 0.5rem;
}

.content {
  color: var(--body-text);
  padding: var(--spacer);
}

.content__header {
  color: var(--highlight-text);
  font-size: 2rem;
  font-weight: 800;
  margin: 0 0 0.85rem;
}

.updates {
  list-style-type: "\2192 \00a0";
  list-style-position: inside;
  padding-inline-start: 0;
}

.profile {
  display: flex;
  flex-direction: column;
  background-color: var(--subtle-text);
  padding: var(--spacer);
  border-radius: 15px;
}

.profile__picture {
  border-radius: 15px;
  width: 100%;
}

.desclist__row {
  display: flex;
  justify-content: space-between;
  text-align: right;
  align-items: center;
}

@media (min-width: 500px) {
  .content__section--float {
    float: left;
  }

  .profile {
    max-width: 200px;
    margin-right: var(--spacer);
    margin-bottom: var(--spacer);
  }
}

@media (min-width: 700px) {
  main {
    display: flex;
    justify-content: center;
    margin-top: var(--spacer);
  }

  .container {
    width: 80%;
  }

  .profile {
    max-width: 250px;
  }
}

@media (min-width: 900px) {
  main {
    margin-top: 2rem;
  }

  .container {
    width: 50%;
  }
}
